---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

// Get internal and external blog posts
const blogPosts = await getCollection('blog');
const externalPosts = await getCollection('external');

// Merge and normalize posts
const allPosts = [
  ...blogPosts.map((post) => ({
    title: post.data.title,
    description: post.data.description,
    pubDate: post.data.pubDate,
    slug: `/blog/${post.slug}/`,
    external: false,
  })),
  ...externalPosts.map((post) => ({
    title: post.data.title,
    description: post.data.description,
    pubDate: post.data.pubDate,
    slug: post.data.url,
    external: true,
  })),
].sort((a, b) => new Date(b.pubDate).valueOf() - new Date(a.pubDate).valueOf());
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main id="main-content" class="container blog">
      <h1>Blog</h1>
      <p>I write about accessibility and design systems from a UX perspective.</p>
      <hr>
      <section>
        <ul>
          {allPosts.map((post) => (
            <li class="post-item">
              <div class="post-date">
                <FormattedDate date={post.pubDate} />
              </div>
              <div class="post-content">
                <p class="post-title">
                  <a
                    href={post.slug}
                    target={post.external ? "_blank" : "_self"}
                    rel={post.external ? "noopener noreferrer" : undefined}
                  >
                    {post.title}
                    {post.external && (
                      <>
                        <span aria-hidden="true"> ↗</span>
                      </>
                    )}
                  </a>
                </p>
                <p class="post-description">{post.description}</p>
              </div>
            </li>
          ))}
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
